.pet {
  position: relative;
}
.layer {
  position: absolute;
}
.microphone {
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 32px;
  border: 1px solid #ccd9ff;
  border-radius: 50%;
  background: #7897d6;
  cursor: pointer;
}
.microphone img {
  width: 16px;
  height: 16px;
}
